{% extends "admin/index.html" %}
{% load i18n static %}


{% block extrastyle %}
    {{ block.super }}
    <style>
        .extra-action {
            margin-right: -300px;
            float: right;
            clear: right;
            max-width: 260px;
            width: 100%;
        }

        .extra-action button.action {
            width: 100%;
            padding: 5px 0 5px 0;
            background: #417690;
        }
    </style>
{% endblock %}
{% block sidebar %}
    {{ block.super }}
    <div class="extra-action">
        <div class="specification-module">
            <h2>{% trans 'Import specifications' %}</h2>
            <form action="{% url 'admin_upload_specifications' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="specifications"/> <br/>
                <button type="submit" class="action button">{% trans 'Import' %}</button>
            </form>
        </div>
    </div>
{% endblock %}
