{% load bootstrap3 %}

{% bootstrap_field form.kaavan_valmistelijan_nimi %}

<div class="row">
      <div class="col-md-6">
        {% bootstrap_field form.suunnitteluavustajan_nimi %}
      </div>
    <div class="col-md-6">
        {% bootstrap_field form.liikennesuunnittelijan_nimi %}
    </div>
</div>

{% bootstrap_field form.strategiakytkenta %}

{% bootstrap_field form.kaavan_tavoitteet %}

{% bootstrap_field form.uutta_tai_siirrettavaa_infraa %}

{% bootstrap_field form.prosessin_kokoluokka %}
