<div class="form-group">
    <label class="control-label" for="id_asuminen_kerrostalo_uusi_k_m2kunta">Asuminen, kerrostalo, uusi k-m2/KUNTA</label>
    <input type="number" name="asuminen_kerrostalo_uusi_k_m2kunta" class="form-control" placeholder="Asuminen, kerrostalo, uusi k-m2/KUNTA" title="" required id="id_asuminen_kerrostalo_uusi_k_m2kunta" />
</div>
<div class="form-group">
    <label class="control-label" for="id_asuminen_kerrostalo_uusi_k_m2valtio">Asuminen, kerrostalo, uusi k-m2/VALTIO</label>
    <input type="number" name="asuminen_kerrostalo_uusi_k_m2valtio" class="form-control" placeholder="Asuminen, kerrostalo, uusi k-m2/VALTIO" title="" required id="id_asuminen_kerrostalo_uusi_k_m2valtio" />
</div>
<div class="form-group">
    <label class="control-label" for="id_asuminen_kerrostalo_uusi_k_m2muut">Asuminen, kerrostalo, uusi k-m2/MUUT</label>
    <input type="number" name="asuminen_kerrostalo_uusi_k_m2muut" class="form-control" placeholder="Asuminen, kerrostalo, uusi k-m2/MUUT" title="" required id="id_asuminen_kerrostalo_uusi_k_m2muut" />
</div>

<hr>

<div class="form-group">
    <label class="control-label" for="id_asuminen_pientalo_uusi_k_m2kunta">Asuminen, pientalo, uusi k-m2/KUNTA</label>
    <input type="number" name="asuminen_pientalo_uusi_k_m2kunta" class="form-control" placeholder="Asuminen, pientalo, uusi k-m2/KUNTA" title="" required id="id_asuminen_pientalo_uusi_k_m2kunta" />
</div>
<div class="form-group">
    <label class="control-label" for="id_asuminen_pientalo_uusi_k_m2valtio">Asuminen, pientalo, uusi k-m2/VALTIO</label>
    <input type="number" name="asuminen_pientalo_uusi_k_m2valtio" class="form-control" placeholder="Asuminen, pientalo, uusi k-m2/VALTIO" title="" required id="id_asuminen_pientalo_uusi_k_m2valtio" />
</div>
<div class="form-group">
    <label class="control-label" for="id_asuminen_pientalo_uusi_k_m2muut">Asuminen, pientalo, uusi k-m2/MUUT</label>
    <input type="number" name="asuminen_pientalo_uusi_k_m2muut" class="form-control" placeholder="Asuminen, pientalo, uusi k-m2/MUUT" title="" required id="id_asuminen_pientalo_uusi_k_m2muut" />
</div>

<hr>

<div class="form-group">
    <label class="control-label" for="id_asuminen_yhteensa">Asuminen, yhteensä</label>
    <div class="input-group readonly">
        <input type="number" name="asuminen_yhteensa" class="form-control" value="21000" required id="id_asuminen_yhteensa" readonly />
        <div class="input-group-addon">k-m<sup>2</sup></div>
    </div>
</div>
