<div class="form-group">
    <label class="control-label" for="id_kaavan_valmistelijan_nimi">Kaavan valmistelijan nimi:</label>
    <input type="text" name="kaavan_valmistelijan_nimi" class="form-control input-lg" value="Matti Meikäläinen" required id="id_kaavan_valmistelijan_nimi" readonly />
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_suunnitteluavustajan_nimi">Suunnitteluavustajan nimi</label>
            <input type="text" name="suunnitteluavustajan_nimi" class="form-control" required id="id_suunnitteluavustajan_nimi" value="Matti Meikäläinen" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_liikennesuunnittelijan_nimi">Liikennesuunnittelijan nimi</label>
            <input type="text" name="liikennesuunnittelijan_nimi" class="form-control" value="Matti Meikäläinen" required id="id_liikennesuunnittelijan_nimi" readonly />
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="id_strategiakytkenta">Strategiakytkentä</label>
    <div class="select">
        <select name="strategiakytkenta" class="form-control" required id="id_strategiakytkenta">
            <option value="1">Valitse</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="id_kaavan_tavoitteet">Kaavan tavoitteet</label>
    <textarea type="text" name="kaavan_tavoitteet" class="form-control" placeholder="Kaavan tavoitteet" required id="id_kaavan_tavoitteet" rows="10"></textarea>
</div>

<div class="form-group">
    <div class="checkbox">
        <label for="id_uutta_tai_siirrettavaa_infraa">
            <input type="checkbox" name="uutta_tai_siirrettavaa_infraa" required id="id_uutta_tai_siirrettavaa_infraa" /> Uutta tai siirrettävää infraa
        </label>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_prosessin_kokoluokka">Prosessin kokoluokka</label>
            <div class="select">
                <select name="prosessin_kokoluokka" class="form-control" required id="id_prosessin_kokoluokka">
                    <option value="1">M</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_kaavan_hyvaksyjataho">Kaavan hyväksyjätaho</label>
            <input type="text" name="kaavan_hyvaksyjataho" class="form-control" value="Kaupunginvaltuusto (mini-M/M/L)" required id="id_kaavan_hyvaksyjataho" readonly />
        </div>
    </div>
</div>
