<div class="form-group">
    <label class="control-label" for="id_kaavahankkeen_nimi">Kaavahankkeen nimi</label>
    <input type="text" name="kaavahankkeen_nimi" class="form-control input-lg" placeholder="Kaavahankkeen nimi" title="" required id="id_kaavahankkeen_nimi" />
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_diaarinumero">Diaarinumero</label>
            <div class="input-group">
                <div class="input-group-addon">
                    HEL
                </div>
                <input type="number" name="diaarinumero" class="form-control" placeholder="Diaarinumero" title="" required id="id_diaarinumero" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_hankenumero">Hankenumero</label>
            <input type="number" name="hankenumero" class="form-control" placeholder="Hankenumero" title="" required id="id_hankenumero" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="checkbox">
        <label for="id_hanke_nakyy_raportoinnissa">
            <input type="checkbox" name="hanke_nakyy_raportoinnissa" class="" required id="id_hanke_nakyy_raportoinnissa" /> Hanke näkyy raportoinnissa
        </label>
    </div>
</div>
<div class="form-group">
    <label class="control-label" for="id_suunnittelualueen_kuvaus">Suunnittelualueen kuvaus</label>
    <textarea type="text" name="suunnittelualueen_kuvaus" class="form-control" placeholder="Suunnittelualueen kuvaus" required id="id_suunnittelualueen_kuvaus" rows="10"></textarea>
</div>

<div class="form-group">
    <label class="control-label" for="id_suunnittelualueen_rajaus">Suunnittelualueen rajaus</label>
    <input type="file" name="suunnittelualueen_rajaus" required id="id_suunnittelualueen_rajaus" />
</div>

<div class="form-group">
    <label class="control-label" for="id_oas_kuva">OAS-kuva</label>
    <input type="file" name="oas_kuva" required id="id_oas_kuva" />
</div>
