<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_oas_aineiston_esillaoloaika_alkaa">OAS-aineiston esilläoloaika alkaa</label>
            <input type="text" name="oas_aineiston_esillaoloaika_alkaa" class="form-control" placeholder="OAS-aineiston esilläoloaika alkaa" title="" required id="id_oas_aineiston_esillaoloaika_alkaa" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_oas_aineiston_esillaoloaika_paattyy">OAS-aineiston esilläoloaika päättyy</label>
            <input type="text" name="oas_aineiston_esillaoloaika_paattyy" class="form-control" placeholder="OAS-aineiston esilläoloaika päättyy" title="" required id="id_oas_aineiston_esillaoloaika_paattyy" />
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="id_kaava_alueen_pinta_ala">Kaava-alueen pinta-ala</label>
    <div class="input-group readonly">
        <input type="number" name="kaava_alueen_pinta_ala" class="form-control" value="0" required id="id_kaava_alueen_pinta_ala" readonly />
        <div class="input-group-addon">
            m<sup>2</sup>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="id_ehdotuksen_suunniteltu_lautakuntapaivamaara_arvio">Ehdotuksen suunniteltu lautakuntapäivämäärä (arvio)</label>
    <input type="text" name="ehdotuksen_suunniteltu_lautakuntapaivamaara_arvio" class="form-control" placeholder="Ehdotuksen suunniteltu lautakuntapäivämäärä (arvio)" title="" required id="id_ehdotuksen_suunniteltu_lautakuntapaivamaara_arvio" />
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_ehdotuksen_esittely_lautakunnalle_pvm_toteutunut">Ehdotuksen esittely lautakunnalle, pvm (toteutunut)</label>
            <input type="text" name="ehdotuksen_esittely_lautakunnalle_pvm_toteutunut" class="form-control" placeholder="Ehdotuksen esittely lautakunnalle, pvm (toteutunut)" value="x.x.2018" required id="id_ehdotuksen_esittely_lautakunnalle_pvm_toteutunut" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="id_ehdotuksesta_paatetty_lautakunnassa_pvm_toteutunut">Ehdotuksesta päätetty lautakunnassa, pvm (toteutunut)</label>
            <input type="text" name="ehdotuksesta_paatetty_lautakunnassa_pvm_toteutunut" class="form-control" placeholder="Ehdotuksesta päätetty lautakunnassa, pvm (toteutunut)" value="x.x.2018" required id="id_ehdotuksesta_paatetty_lautakunnassa_pvm_toteutunut" readonly />
        </div>
    </div>
</div>
