.site-footer {
    background: $black;
    color: $white;
    padding: 60px 0;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    .footer-brand {
        margin-bottom: 2em;
        display: block;

        span {
            display: block;
            @include helsinki-logo($white);
            height: $line-height-computed * 2.5;
        }
    }

    .footer-block {
        margin-bottom: 2em;
    }

    .footer-header {
        font-weight: 800;
        margin-bottom: 1em;
    }

    .small-print-nav {
        margin-top: 2em;
        text-align: right;
        color: $light-gray;
        font-size: $font-size-small;

        > li {
            display: inline-block;

            &:before {
                color: darken($light-gray, 10%);
                content: "|";
                margin: 0 .5em;
            }

            &:first-child:before {
                content: "";
            }

            a {
                color: $light-gray;
            }
        }
    }
}
