.form-subset {
    padding: $grid-gutter-width;
    background: $white;
    margin-bottom: $grid-gutter-width;

    &-header {
        font-size: $font-size-h3;
        margin: 0 0 ($grid-gutter-width / 2) 0;
        padding-bottom: $grid-gutter-width;
        border-bottom: 1px solid $light-gray;
    }
}

.readonly .input-group-addon {
    border-color: $medium-gray;
}

.form-control[readonly] {
    &:focus {
        border-color: $medium-gray;
    }
}

textarea {
    width: 100%;
    max-width: 100%;
}
