.bg--silver {
    background-color: $hel-silver;
}

.bg--gold {
    background-color: $hel-gold;
}

.bg--black {
    background-color: $black;
}

.bg--copper {
    background-color: $hel-copper;
}

.bg--bus {
    background-color: $hel-bus;
}

.bg--coat {
    background-color: $hel-coat;
}

.bg--fog {
    background-color: $hel-fog;
}

.bg--metro {
    background-color: $hel-metro;
}

.bg--brick {
    background-color: $hel-brick;
}

.bg--light-gray {
    background-color: $light-gray;
}

.bg--suomenlinna {
    background-color: $hel-suomenlinna;
}

.bg--engel {
    background-color: $hel-engel;
}

.bg--tram {
    background-color: $hel-tram;
}

.bg--summer {
    background-color: $hel-summer;
}

.bg--dark-gray {
    background-color: $dark-gray;
}

.bg--medium-gray {
    background-color: $medium-gray;
}

.bg--white {
    background-color: $white;
}

.text--silver {
    color: $hel-silver;
}

.text--gold {
    color: $hel-gold;
}

.text--black {
    color: $hel-black;
}

.text--copper {
    color: $hel-copper;
}

.text--bus {
    color: $hel-bus;
}

.text--coat {
    color: $hel-coat;
}

.text--fog {
    color: $hel-fog;
}

.text--metro {
    color: $hel-metro;
}

.text--brick {
    color: $hel-brick;
}

.text--light-gray {
    color: $light-gray;
}

.text--suomenlinna {
    color: $hel-suomenlinna;
}

.text--engel {
    color: $hel-engel;
}

.text--tram {
    color: $hel-tram;
}

.text--summer {
    color: $hel-summer;
}

.text--dark-gray {
    color: $dark-gray;
}

.text--medium-gray {
    color: $medium-gray;
}

.text--white {
    color: $white;
}
