.application-state-indicator {
    padding: 10px 0 20px 0;
    background: #fff;

    .steps {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 3rem;
        counter-reset: step;

        .step {
            width: (100% / 6);
            text-align: center;
            position: relative;
            counter-increment: step;

            &:before, &:after {
                content: "";
                border-top: 2px solid $medium-gray;
                display: block;
                position: absolute;
                top: 20px;
                width: 50%;
                z-index: 0;
            }

            &:before {
                left: 0%;
            }

            &:after {
                left: 50%;
            }

            &:first-child:before {
                display: none;
            }

            &:last-child:after {
                display: none;
            }

            &.color--tram {
                &.active .step-number {
                    background: $hel-tram;
                    border-color: $hel-tram;
                    color: $white;
                }
            }

            &.color--summer {
                &.active .step-number {
                    background: $hel-summer;
                    border-color: $hel-summer;
                    color: $text-color;
                }
            }

            &.color--metro {
                &.active .step-number {
                    background: $hel-metro;
                    border-color: $hel-metro;
                    color: $white;
                }
            }

            &.color--bus {
                &.active .step-number {
                    background: $hel-bus;
                    border-color: $hel-bus;
                    color: $white;
                }
            }

            &.color--black {
                &.active .step-number {
                    background: $black;
                    border-color: $black;
                    color: $white;
                }
            }

            &.color--white {
                &.active .step-number {
                    border-color: $black;
                    color: $text-color;
                }
            }

            &.active,
            &.completed {
                &:before, &:after {
                    border-color: $text-color;
                }
            }

            &.completed {
                .step-number {
                    border-color: $text-color;
                    color: $text-color;

                    &:before {
                        content: "\f00c"; // Font awesome check mark
                        font-family: FontAwesome;
                    }
                }
            }

            &.active {
                .step-label {
                    color: $text-color;
                }
            }

            .step-number {
                display: block;
                width: 40px;
                height: 40px;
                border: 2px solid $medium-gray;
                text-align: center;
                line-height: 38px;
                margin: 0 auto;
                background: $white;
                z-index: 2;
                position: relative;
                border-radius: 50%;
                color: $text-muted;
                font-weight: bold;

                &:before {
                    content: counter(step);
                }
            }

            .step-label {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                color: $text-muted;
                line-height: 1.2;
                display: block;
                padding: 7px 5px 0 5px;
            }
        }
    }
}
