.project-list-wrapper {
    background: $white;
    padding: $grid-gutter-width/2 $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}

.project-list-table {
    tbody > tr > td {
        vertical-align: middle;
        border-color: $hel-silver;
    }
}

.project-phase-status-circle {
    margin-right: 4px;

    &.color {
        &--tram {
            color: $hel-tram;
        }

        &--summer {
            color: $hel-summer;
        }

        &--metro {
            color: $hel-metro;
        }

        &--bus {
            color: $hel-bus;
        }

        &--black {
            color: $black;
        }

        &--white {
            color: #ccc;

            &:before {
                content: "\f10c"; // fa-circle-o
            }
        }
    }
}
