.application-sidebar {
    background: $white;
    display: none;
    padding: 10px 0;

    @media (min-width: $screen-md-min) {
        display: block;
        width: 212px;
    }

    @media (min-width: $screen-lg-min) {
        width: 262px;
    }
}

.application-sidenav {
    > li.current-page {
        &.color--tram {
            border-left-color: $hel-tram;

            .sidenav-title {
                color: $hel-tram;
            }
        }

        &.color--summer {
            border-left-color: $hel-summer;

            .sidenav-title {
                color: $hel-summer;
            }
        }

        &.color--metro {
            border-left-color: $hel-metro;

            .sidenav-title {
                color: $hel-metro;
            }
        }

        ul {
            display: block;
        }
    }

    > li {
        border-left: 4px solid transparent;

        & + li {
            margin-top: 10px;
        }

        ul {
            display: none;

            li a:before {
                content: "";
                margin-right: 5px;
                font-family: FontAwesome;
                width: 20px;
                text-align: center;
                display: inline-block;
            }
        }
    }

    li.active {
        > a {
            font-weight: bold;
            color: $text-color;
        }
    }

    .sidenav-title {
        font-size: $font-size-base;
        text-transform: uppercase;
        font-weight: bold;
    }

    li.form-completed a:before {
        content: "\f00c"; // Font awesome check mark
        color: $theme-success;
    }

    li.form-error a:before {
        content: "\f071"; // Font awesome exclamation triangle
        color: $theme-danger;
    }

    li.unsaved-changes a:before {
        content: "\f111"; // Font awesome circle
        font-size: 10px;
        color: $brand-primary;
        vertical-align: middle;
    }
}
