<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a href="http://www.hel.fi" class="footer-brand">
                    <span class="logo"></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="site-footer-block">
                    <div class="footer-header">Kaavapino</div>
                    <ul>
                        <li><a href="/">Tietoa palvelusta</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="small-print-nav">
            <li><a href="//www.hel.fi/rekisteriseloste" target="_blank"><span>Rekisteriseloste</span></a></li>
            <li>{% now "Y" %} Helsingin kaupunki</li>
        </ul>
    </div>
</footer>
