<section class="application-state-indicator">
    <div class="container">
        <h2 class="h6 text-center">Hankkeen nykytila</h2>
        <div class="steps">
            {% for phase in project.type.phases.all %}
                <div class="step{% if project.phase == phase %} active{% endif %}{% if project.phase.is_completed %} completed{% endif %} {{ phase.color }}">
                    <span class="step-number"></span>
                    <span class="step-label">{{ phase.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
