<table class="table project-list-table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Vaihe</th>
        <th>Luotu</th>
        <th>Muokattu</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for project in object_list %}
        <tr>
            <td>
                <small data-toggle="tooltip" data-title="{{ project.phase.name }}" data-placement="bottom">
                    <i class="fa fa-circle fa-fw project-phase-status-circle {{ project.phase.color }}"></i>
                </small>
                <a href="{% url 'projects:card' pk=project.id %}">{{ project.name|default:"(Nimetön)" }}</a>
            </td>
            <td>{{ project.phase|default_if_none:"" }}</td>
            <td>{{ project.created_at|date:"d.m.Y H:i" }}</td>
            <td>{{ project.modified_at|date:"d.m.Y H:i" }}</td>
            <td class="text-right small-padding">
                <a href="{% url 'projects:edit' pk=project.id %}" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil fa-fw"></i> Muokkaa
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">Ei projekteja</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
