{% extends "base.html" %}

{% block hero %}
    <div class="jumbotron customized">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Etusivu</a></li>
                <li><a href="{% url 'project-card' pk=object.pk %}">{{ object.name }}</a></li>
                <li class="active">Luo dokumentteja</li>
            </ol>
            <div class="flex-row">
                <div class="col col-grow">
                    <h1>{{ object.name|default_if_none:"Kaavahanke" }}</h1>
                </div>
                {% if project.attribute_data.diaarinumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Diaarinumero</strong><br>
                            {{ project.attribute_data.diaarinumero }}
                        </p>
                    </div>
                {% endif %}
                {% if project.attribute_data.hankenumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Hankenumero</strong><br>
                            {{ project.attribute_data.hankenumero }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "includes/project_state_indicator.html" %}
{% endblock %}

{% block content %}
    <h2>Luo dokumentteja</h2>
    <hr class="hr-darker">
    {% for phase_name, documents in documents_per_phase.items %}
        <h3>{{ phase_name }}</h3>
        <div class="list-group">
            {% for document in documents %}
                <div class="list-group-item{% if not document.enabled %} disabled{% endif %}">
                   {% if document.enabled %}<a href="{% url 'document-download' project_pk=project.pk document_pk=document.obj.pk %}">{% endif %}
                       <i class="fa fa-file-word-o fa-fw fa-3x"></i> {{ document.obj.name }}
                   {% if document.enabled %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
