{% extends "base.html" %}
{% load i18n %}

{% block hero %}
    <div class="jumbotron">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">{% trans "Home" %}</a></li>
                <li class="active">{% trans "Applications" %}</li>
            </ol>
            <h1>{% trans "Applications" %}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>
        <a href="#" class="btn btn-default">
            <i class="fa fa-plus fa-fw"></i> Create new
        </a>
    </p>
    <hr class="hr-darker">
    <p>A list of applications goes here</p>
{% endblock %}
