<div style="min-height: 500px;" id="{{ widget.name }}_map"></div>
<input name={{ widget.name }} type="hidden" id="id_{{ widget.name }}" value{% if widget.value %}="{{ widget.value }}"{% endif %}>

<script>

const map = new mapboxgl.Map({
  container: '{{ widget.name }}_map',
  style: 'https://openmaptiles.github.io/positron-gl-style/style-cdn.json',
  center: [24.9192, 60.1822],
  zoom: 12
});

map.addControl(new mapboxgl.NavigationControl());
map.scrollZoom.disable();

const draw = new MapboxDraw({
  displayControlsDefault: false,
  controls: {
    polygon: true,
    trash: true
  }
});
map.addControl(draw);

{% if widget.value %}
map.on('load', function () {
  const geometry = {{ widget.value|safe }};
  map.fitBounds(turf.bbox(geometry), {
    padding: 175,
    duration: 0
  });
  draw.add(turf.flatten(geometry));
});
{% endif %}

function updateInput() {
  const combinedFeatures = turf.combine(draw.getAll());
  const geometry = combinedFeatures.features.length ? JSON.stringify(combinedFeatures.features[0].geometry) : null;
  const input = document.getElementById('id_{{ widget.name }}');
  input.value = geometry;
  input.dispatchEvent(new Event('change'));
}

map
  .on('draw.create', updateInput)
  .on('draw.update', updateInput)
  .on('draw.delete', updateInput);

</script>
