{% extends "base.html" %}
{% load i18n %}

{% block extra_body_tags %}data-spy="scroll" data-target="#application-sidebar-affix" data-offset="30"{% endblock %}

{% block hero %}
    <div class="jumbotron">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">{% trans "Home" %}</a></li>
                <li class="active">Kaavahankkeet</li>
            </ol>
            <h1>Kaavahankkeet</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'project-create' %}" class="btn btn-default">
            <i class="fa fa-plus fa-fw"></i> Luo uusi
        </a>
    </p>
    <hr class="hr-darker">
    <ul>
    {% for project in object_list %}
        <li><a href="{% url 'project-edit' pk=project.pk %}">{{ project.name }}</a></li>
    {% empty %}
        <li>Ei kaavahankkeita.</li>
    {% endfor %}
    </ul>
{% endblock %}
