{% extends "base.html" %}

{% block hero %}
    <div class="jumbotron">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="/">Etusivu</a>
                </li>
                <li class="active">
                    <a href="{% url "projects:list" %}">Kaavahankkeet</a>
                </li>
            </ol>
            <h1>Kaavahankkeet</h1>
            <a href="{% url 'projects:create' %}" class="btn btn-default">
                <i class="fa fa-plus fa-fw"></i> Luo uusi hanke
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#user-list" aria-controls="home" role="tab" data-toggle="tab">Omat hankkeet</a>
            </li>
            <li role="presentation">
                <a href="#public-list" aria-controls="profile" role="tab" data-toggle="tab">Kaikki hankkeet</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="user-list">
                <div class="project-list-wrapper">
                    {% include 'includes/project_list_table.html' with object_list=own_projects %}
                    <div id="time-line"></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="public-list">
                <div class="project-list-wrapper">
                    {% include 'includes/project_list_table.html' with object_list=object_list %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
      let container = document.getElementById('time-line');

      let groups = new vis.DataSet({{ time_line_groups }});
      let items = new vis.DataSet({{ time_line_items }});

      let options = {
        'orientation': 'top',
        'selectable': false,
      };

      let timeline = new vis.Timeline(container, items, groups, options);
    </script>
{% endblock %}
