{% extends "base.html" %}
{% load bootstrap3 %}

{% block hero %}
    <div class="jumbotron customized">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Etusivu</a></li>
                <li class="active">Kaavahankkeen muokkaus</li>
            </ol>
            <div class="flex-row">
                <div class="col col-grow">
                    {% if project.id %}
                        <h1>{{ project.name|default_if_none:"Kaavahanke" }}</h1>
                    {% else %}
                        <h1>Uusi kaavahanke</h1>
                    {% endif %}
                </div>
                {% if project.attribute_data.diaarinumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Diaarinumero</strong><br>
                            {{ project.attribute_data.diaarinumero }}
                        </p>
                    </div>
                {% endif %}
                {% if project.attribute_data.hankenumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Hankenumero</strong><br>
                            {{ project.attribute_data.hankenumero }}
                        </p>
                    </div>
                {% endif %}
            </div>
            {% if project.id %}
            <a href="{% url 'projects:document-create' pk=project.id %}" class="btn btn-primary">
                <i class="fa fa-file-word-o fa-fw"></i> Luo dokumentteja
            </a>
            {% endif %}
        </div>
    </div>
    <section class="application-state-indicator">
        <div class="container">
            <h2 class="h6 text-center">Hankkeen nykytila</h2>
            <div class="steps">
                {% for phase in phases %}
                    <div class="step{% if project.phase == phase %} active{% endif %} {% if project.phase.is_completed %} completed{% endif %} {{ phase.color }}">
                        <span class="step-number"></span>
                        <span class="step-label">{{ phase.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9" id="new-application">
            <div class="tab-content">
            {% for section in sections %}
                <div class="tab-pane{% if active_section == section.section.id %} active{% endif %}" id="section_{{ section.section.id }}" role="tabpanel">
                    <form method="post" novalidate>{% csrf_token %}
                        <fieldset class="form-subset" id="section_{{ section.section.id }}_">
                            <h2 class="form-subset-header">{{ section.section.name }}</h2>
                            {% for field in section.form %}
                                {% bootstrap_field field %}
                            {% endfor %}
                        </fieldset>
                        <button type="submit" name="save_section_{{ section.section.id }}" class="btn btn-lg btn-primary">
                            <i class="fa fa-check"></i> Tallenna
                        </button>
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="application-sidebar hidden-print" id="application-sidebar-affix" role="complementary">
                <ul class="nav application-sidenav">
                    {% for phase in phases %}
                        <li class="{{ phase.color }}{% if project.phase == phase %} current-page{% endif %}">
                            <a href="#" class="sidenav-title">{{ phase.index|add:1 }}. {{ phase.name }}</a>
                            <ul class="nav">
                                {% for phase_section in phase.sections.all %}
                                <li{% if active_section == phase_section.id %} class="active"{% endif %}>
                                    <a href="#section_{{ phase_section.id }}" aria-controls="section_{{ phase_section.id }}" role="tab" data-toggle="tab">
                                        {{ phase_section.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
<script>
    const sourceFields = $("input[name^='asuminen_kerrostalo'], input[name^='asuminen_pientalo']");

    function updateTotal() {
        let total = 0;
        sourceFields.each(function() {
            const val = $(this).val();
            if (val) {
                total += parseInt(val);
            }
        });
        $("#id_asuminen_yhteensa").val(total);
    }

    sourceFields.on('change keyup paste', function() {
        updateTotal();
    });

    updateTotal();
</script>
{% endblock %}
