{% extends "base.html" %}

{% block hero %}
    <div class="jumbotron">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Etusivu</a></li>
                <li class="active">Kaavahankkeet</li>
            </ol>
            <h1>Kaavahankkeet</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'projects:create' %}" class="btn btn-default">
            <i class="fa fa-plus fa-fw"></i> Luo uusi
        </a>
    </p>

    <hr class="hr-darker">

    <div class="project-list-wrapper">
        <table class="table project-list-table">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Vaihe</th>
                    <th>Luotu</th>
                    <th>Muokattu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for project in object_list %}
                    <tr>
                        <td>
                            <small data-toggle="tooltip" data-title="{{ project.phase.name }}" data-placement="bottom">
                                <i class="fa fa-circle fa-fw project-phase-status-circle {{ project.phase.color }}"></i>
                            </small>
                            <a href="{% url 'projects:card' pk=project.id %}">{{ project.name }}</a>
                        </td>
                        <td>{{ project.phase }}</td>
                        <td>{{ project.created_at|date:"d.m.Y H:i" }}</td>
                        <td>{{ project.modified_at|date:"d.m.Y H:i" }}</td>
                        <td class="text-right small-padding">
                            <a href="{% url 'projects:edit' pk=project.id %}" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil fa-fw"></i> Muokkaa
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
