{% extends "base.html" %}

{% block hero %}
    <div class="jumbotron customized">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="/">Etusivu</a>
                </li>
                <li>
                    <a href="{% url "projects:list" %}">Kaavahankkeet</a>
                </li>
                <li class="active">
                    <a href="{% url "projects:card" pk=project.id %}">{{ project.name|default:"(nimetön)" }}</a>
                </li>
            </ol>
            <div class="flex-row">
                <div class="col col-grow">
                    <h1>{{ project.name|default:"(nimetön)" }}</h1>
                </div>
                {% if project.attribute_data.diaarinumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Diaarinumero</strong><br>
                            {{ project.attribute_data.diaarinumero }}
                        </p>
                    </div>
                {% endif %}
                {% if project.attribute_data.hankenumero %}
                    <div class="col col-auto">
                        <p>
                            <strong>Hankenumero</strong><br>
                            {{ project.attribute_data.hankenumero }}
                        </p>
                    </div>
                {% endif %}
            </div>
            <a href="{% url 'projects:edit' pk=project.id %}" class="btn btn-primary">
                <i class="fa fa-pencil fa-fw"></i> Muokkaa
            </a>
            <a href="{% url 'projects:document-create' pk=project.id %}" class="btn btn-primary">
                <i class="fa fa-file-word-o fa-fw"></i> Luo dokumentteja
            </a>
        </div>
    </div>
    {% include "includes/project_state_indicator.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Asuminen</dt>
                <dd>{{ project_attr.asuminen_yhteensa|default_if_none:"-" }}</dd>

                <dt>Aikataulu</dt>
                <dd>-</dd>

                <dt>Vastuuhenkilöt</dt>
                <dd>
                    {{ project_attr.kaavan_valmistelijan_nimi }} <span class="text-muted">(Kaavan valmistelija)</span><br>
                    {{ project_attr.liikennesuunnittelijan_nimi }} <span class="text-muted">(Liikennesuunnittelija)</span>
                </dd>

                <dt>Prosessin koko</dt>
                <dd>{{ project_attr.prosessin_kokoluokka }}</dd>
            </dl>
            <dl>
                <dt>Kuvaus sisällöstä</dt>
                <dd>{{ project_attr.suunnittelualueen_kuvaus }}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <img src="//via.placeholder.com/600x600" alt="Kaavahankkeen havainnolistamiskuva" class="img-responsive">
        </div>
    </div>
{% endblock %}
